<div data-role="footer" data-position="fixed">
    <div data-role="navbar">
        <ul>
            <li class="ui-body-a"><a href="#" data-icon="home" data-iconpos="top" data-shadow="false" data-iconshadow="false" class="ui-icon-nodisc"></a></li>
            <li class="ui-body-a"><a href="#" data-icon="gear" data-iconpos="top" data-shadow="false" data-iconshadow="false" class="ui-icon-nodisc"></a></li>
            <li class="ui-body-a"><a href="<%= social_dialog_path %>" data-icon="plus" data-rel="dialog" data-iconpos="top" data-shadow="false" data-iconshadow="false" class="ui-icon-nodisc"></a></li>
        </ul>
    </div><!-- /navbar -->
</div><!-- /footer -->
