<div data-role="content">
    <h1>Some awesome content</h1>
    
    <p>This content is so awesome that users will want to share it with their social contacts.</p>

    <p>But the question is: Which is the optimum way to encourage them to share?</p>
</div>
